# Author, & affiliation
U00:%x[0,0]

# Symbol
U01:%x[0,1]

# Same page
U02:%x[0,2]

# Same section
U03:%x[0,3]

# Same paragraph
U04:%x[0,4]

# Same line
U05:%x[0,5]

# Nearest in x-axis
U06:%x[0,6]

# Nearest in y-axis
U07:%x[0,7]

# Output
B0
